In [1]:
import pandas as pd

In [2]:
# Load Dataset A and Dataset B
df_a = pd.read_csv('autolabelled_dataset_iv.csv')
df_b = pd.read_csv('train.csv')

# Merge the datasets based on 'text' column
merged_data = pd.merge(df_a, df_b[['text', 'label']], on='text', how='outer', suffixes=('_A', '_B'))
merged_data.to_csv('combined_dataset.csv', index=False)

In [3]:
# Update the 'label' column in Dataset A with values from Dataset B
merged_data['label_A'] = merged_data['label_B'].fillna(merged_data['label_A'])
merged_data.to_csv('combined_dataset.csv', index=False)

In [4]:
# Remove the 'label_B' column
merged_data = merged_data.drop('label_B', axis=1)
merged_data.to_csv('combined_dataset.csv', index=False)

In [5]:
merged_data = merged_data.rename(columns={'label_A': 'label'})
merged_data

                                                    text  label
0      Semalam aku mimpi aneh üò≠ serem banget aku inge...    0.0
1      Ml pending....\nEQ &amp; Tsunami Drill pending...    1.0
2      Seumur-umur gue ngerasain gempa itu dua kali, ...    0.0
3             Tak sanggup nak tengok video gempa bumi tu    1.0
4      "RANDY BAGUS HARI SASONGKO" Segera dievakuasi ...    0.0
...                                                  ...    ...
30440   Gempa Mag:2.3, 04-Mei-21 00:57:53 WIB, Lok:3....    1.0
30441  pohon itu adalah penyeimbang alam jika pohon i...    0.0
30442  10. Tanggal 26 Januari 2021 pukul 23:14 WIB, a...    1.0
30443   Gempa Mag:4.3, 27-Apr-21 17:28:58 WIB, Lok:1....    1.0
30444  mgkn dia tau gempa akan datang kayak ikan2 yg ...    0.0

[30445 rows x 2 columns]

In [7]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth', None)
print(len(merged_data))
merged_data.head(10)

30445

                                                                                                                                                                                                                                                                                      text  label
0  Semalam aku mimpi aneh üò≠ serem banget aku inget aku lagi jalan2 sama gatau laki¬≤ siapa di pantai aku ngerasa aneh kok airnya surut gawajar kaya mau sunami terus aku sama dia bomad kita mau jalan¬≤ gitu dipinggir jalan raya terus aku lihat puting beliung jumbo kaya tornado gitu ++    0.0
1                                                                                                                                                                                                             Ml pending....\nEQ &amp; Tsunami Drill pending....\nTB docu pending....\nüòµ‚Äçüí´    1.0
2                                                                                                                                                           Seumur-umur gue ngerasain gempa itu dua kali, pas krakatau atau tsunami selat sunda itu sama pas 2021 atau awal 2022 kayaknya.    0.0
3                                                                                                                                                                                                                                               Tak sanggup nak tengok video gempa bumi tu    1.0
4                                                                                                                  "RANDY BAGUS HARI SASONGKO" Segera dievakuasi ditakutkan terkena erupsi gunung Semeru kan kasian, mending evakuasi pindahkan ke lapas tahanan penjarakan tuh anak 2K! ü§∏    0.0
5                                                                                                                                                                                          Iya cangkirnya kosong, tapi aku kasih tutup biar gak ada yg masuk. Kemarin bikin banjir soalnya    0.0
6                                                                                                                                                                                                             Lindungi keluarga hamba yaAllah.\nRasanya udah kyk puting beliung aja tadi üò¢    0.0
7                                                                                                                                                                   Di fake love extended ver. ada part seokjin lindungin hourglass dari puting beliung, di film out hourglass ada juga...    0.0
8                                                                                                                                                                                                                    eee tkleh lah kalau org ckp dia proud of me üò≠üò≠ aku auto banjir dok ü§£üò≠    0.0
9                                                                                                                                                                                                                                                                          Gempa kah kids?    1.0

In [6]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30445 entries, 0 to 30444
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    30445 non-null  object
 1   label   30445 non-null  float64
dtypes: float64(1), object(1)
memory usage: 713.6+ KB

In [7]:
merged_data['label'] = merged_data['label'].astype(int)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30445 entries, 0 to 30444
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    30445 non-null  object
 1   label   30445 non-null  int32
dtypes: int32(1), object(1)
memory usage: 594.6+ KB

In [10]:
# Check for duplicates
duplicates = merged_data['text'].duplicated()
merged_data[duplicates].to_csv('combined_dataset.csv', index=False)

In [11]:
merged_data = merged_data.drop_duplicates()
merged_data

                                                    text  label
0      Semalam aku mimpi aneh üò≠ serem banget aku inge...      0
1      Ml pending....\nEQ &amp; Tsunami Drill pending...      1
2      Seumur-umur gue ngerasain gempa itu dua kali, ...      0
3             Tak sanggup nak tengok video gempa bumi tu      1
4      "RANDY BAGUS HARI SASONGKO" Segera dievakuasi ...      0
...                                                  ...    ...
30440   Gempa Mag:2.3, 04-Mei-21 00:57:53 WIB, Lok:3....      1
30441  pohon itu adalah penyeimbang alam jika pohon i...      0
30442  10. Tanggal 26 Januari 2021 pukul 23:14 WIB, a...      1
30443   Gempa Mag:4.3, 27-Apr-21 17:28:58 WIB, Lok:1....      1
30444  mgkn dia tau gempa akan datang kayak ikan2 yg ...      0

[27900 rows x 2 columns]

In [12]:
merged_data.to_csv('combined_dataset.csv', index=False)